backend/samples/customer-experience-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	
	<http:request-config name="HTTP_Request_Process_API" doc:name="HTTP Request configuration" >
		<http:request-connection host="${process.api.host}" port="${process.api.port}" />
	</http:request-config>
	
	<flow name="get-customer-experience-flow" doc:id="f-101" >
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/api/customers/{id}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log Request" message="Received GET request for customer ID: #[attributes.uriParams.id]"/>
		<http:request method="GET" doc:name="Call Process API" config-ref="HTTP_Request_Process_API" path="/api/process/customers/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Format Response" >
			<ee:message >
				<ee:set-payload resource="dwl/format-customer-response.dwl" />
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="ANY">
				<logger level="ERROR" doc:name="Log Error" message="Error in Experience API: #[error.description]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
